.logo {
    /*лого-это ссылка, поэтому убираем подчеркивание*/
    text-decoration: none;
    /*делаем выравнивание картирки и надписи по центру по высоте*/
    display: flex;
    align-items: center;
    gap: 10px;
  }
  